[Unit]
Description="System backups with restic using backup-manager's restic-manager command."

[Service]
Type=oneshot
Restart=on-failure
RestartSec=600
ExecStart=
ExecStart=/usr/bin/restic-manager backup

[Install]
WantedBy="multi-user.target"

